* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #bdbdbd;
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}

.main {
  max-width: 450px;
  width: 80%;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-radius: 0.5rem;
}

.image {
  width: 90%;
  max-width: 300px;
  display: flex;
  align-items: center;
  max-height: 300px;
}
.image img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.text-container {
  padding: 1rem 2rem;
  text-align: center;
}

.text-container > h2 {
  margin-bottom: 1rem;
}
.text-container p {
  color: gray;
}
