@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: serif;
}

/* color header bg rgb(61 190 255) */
/* color block #fffbf8 */
/* color footer #90d4c5 */
/* font color #367c6f */

.nav-links {
  position: absolute;
  top: 0%;
  right: -50%;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  transform: translate(50%, 30%);
  background-color: white;
  transition: right 0.05s;
}
.show {
  right: 50%;
}
.block-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2.5rem 1rem;
  text-align: center;
}

@media screen and (min-width: 1122px) {
  .block-text {
    padding: 11.2rem 3rem;
  }
}

.block-text > h1 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 600;
}
.block-text > p {
  color: gray;
  font-weight: 600;
}
.block-text > a {
  font-size: 1.4rem;
  line-height: 1rem;
  align-self: center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.block-text-button:hover {
  border-bottom: 5px solid yellow;
}
.block-text-a:hover {
  border-bottom: 5px solid red;
}

.block-text-img {
  padding: 2.25rem 1rem;
  color: #367c6f;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.block-text-img h1 {
  font-size: 3rem;
}

.block-text-img p {
  font-size: 1.1rem;
}
.block-text-md {
  padding: 5rem 4rem;
}
